@model IEnumerable<Project>
@using RTWEB.Enum


<div class="container-fluid mt-3">
    <div class="d-flex justify-content-end">
        <a asp-controller="Project" asp-action="Save" class="btn btn-primary">Add Project</a>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">

                <!-- /.card-header -->
                <div class="card-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="width: 10px">Sl</th>
                                <th>Name</th>
                                
                                <th style="width:20px;text-align:center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int count = 1;
                            }
                            @foreach (Project item in Model)
                            {
                                <tr>
                                    <td>@count</td>
                                    <td>@item.ProjectName</td>
                                    <td>
                                        <div class="d-flex justify-content-center btn-group-sm ">

                                            <a class="btn btn-primary ms-2" asp-route-id="@item.Id" asp- controller="Appointment" asp-action="Edit">
                                                <i class="fa fa-edit"></i>
                                            </a>

                                            <a class="btn btn-danger ms-2"
                                               asp-route-id="@item.Id"
                                               asp-controller="Project" asp-action="Delete">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                count++;
                            }

                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
                <div class="card-footer clearfix">
                    @* @await Html.PartialAsync("_Pagination", Model) *@
                </div>
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>