@model Project
@{
    ViewData["Title"] = "Project Create";
}
<div class="d-flex justify-content-center mt-3">
    <div class="col-md-6">

        <!--begin::Horizontal Form-->
        <div class="card card-warning card-outline mb-4">
            <!--begin::Header-->
            <div class="btn-group-sm">
                <a class="btn btn-primary" asp-route-id="" asp-controller="Project" asp-action="Index">
                    <i class="fa fa-list"></i>
                    Project List
                </a>
            </div>
            <div class="card-header"><div class="card-title">Project Information</div></div>
            <!--end::Header-->
            <!--begin::Form-->
            <form asp-action="Save" id="myForm" method="post">
                <!--begin::Body-->
                <div class="card-body">

                    <div class="row mb-3">
                        <label asp-for="ProjectName" class="col-sm-3 col-form-label">Project Name</label>
                        <div class="col-sm-9">
                            <input asp-for="ProjectName" class="form-control" id="projectName">
                            <span asp-validation-for="ProjectName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="SourceName" class="col-sm-3 col-form-label">Source Name</label>
                        <div class="col-sm-9">
                            <input asp-for="SourceName" class="form-control" id="sourceName">
                            <span asp-validation-for="SourceName" class="text-danger"></span>
                        </div>
                    </div>

                </div>
                <!--end::Body-->
                <!--begin::Footer-->
                <div class="card-footer d-flex justify-content-center">
                    <button type="submit" class="btn btn-warning me-2">Save</button>
                    <button type="reset" class="btn btn-danger me-2">Reset</button>
                </div>
                <!--end::Footer-->
            </form>
            <!--end::Form-->
        </div>
        <!--end::Horizontal Form-->
    </div>
</div>


<script>
    $(document).ready(function(){
        $("#myForm").on('submit',function(){
            var project=$("#projectName").val().trim();
            var sourceName=$("#sourceName").val().trim();
              var offset=20;
              var container=$("body");

              if(project==="")offset=createAlert("❌ Project Name is Required",container,offset);
              if(sourceName==="")offset=createAlert("❌ Source Name is Required",container,offset);
                if($(".field-alert").length >0) return false;

                this.submit();
        })
    })
</script>