@using RTWEB.ViewModel
@model IssueSaveVm


<div class="d-flex justify-content-center mt-3">
    <div class="col-md-6">

        <!--begin::Horizontal Form-->
        <div class="card card-warning card-outline mb-4">
            <!--begin::Header-->
            <div class="btn-group-sm">
                <a class="btn btn-primary" asp-route-id="" asp-controller="Issue" asp-action="Index">
                    <i class="fa fa-list"></i>
                    Issue List
                </a>
            </div>
            <div class="card-header"><div class="card-title">Issue Information</div></div>
            <!--end::Header-->
            <!--begin::Form-->
            <form asp-action="Save" id="myForm" method="post">
                <!--begin::Body-->
                <div class="card-body">

                    <div class="row mb-3">
                        <label asp-for="Issue.Title" class="col-sm-3 col-form-label">Title</label>
                        <div class="col-sm-9">
                            <input asp-for="Issue.Title" class="form-control" id="title">
                            <span asp-validation-for="Issue.Title" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label asp-for="Issue.ProjectId" class="col-sm-3 col-form-label">Project</label>
                        <div class="col-sm-9">
                            <select asp-for="Issue.ProjectId" id="type" class="form-control project-dropdown" asp-items="@(new SelectList(Model.Projects, "Id", "ProjectName"))"></select>
                            <span asp-validation-for="Issue.Title" class="text-danger"></span>
                        </div>
                    </div>

                </div>
                <!--end::Body-->
                <!--begin::Footer-->
                <div class="card-footer d-flex justify-content-center">
                    <button type="submit" class="btn btn-warning me-2">Save</button>
                    <button type="reset" class="btn btn-danger me-2">Reset</button>
                </div>
                <!--end::Footer-->
            </form>
            <!--end::Form-->
        </div>
        <!--end::Horizontal Form-->
    </div>
</div>

<script>
    $(document).ready(function(){
        $("#myForm").on('submit',function(){
            var title=$("#title").val().trim();
            var project=$("#type").val().trim();

            var offset=20;
            var container=$("boady");

            if(title==="")offset=createAlert("❌ Title is Required ",container,offset);
            if(project==="")offset=createAlert("❌ Project is Required" ,container,offset);
        })
    })


     $(document).ready(function () {
         $(".project-dropdown").select2({
             placeholder: "--Select Project--",
             allowClear: true,
             width: '100%'
         });


         $(document).on('select2:open', () => {
             document.querySelector('.select2-search__field').focus();
         });
     });
</script>